html body{
    padding: 0;
    margin: 0;
    background-color: #312F2F;
    overflow-x: hidden;
}

a{
    text-decoration:none;
    color: #3678DC;
}

.componentPage{
    display: flex;
    flex-direction: row;
}

.navLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 130px;
    height: 947px;
    background-color: #212020;
}

.containerLogo{
    background-color: #171616;
    width: 130px;
    height: 185px;
}

#containerMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 200px;
}

#containerReseau{
    display: flex;
    justify-content: space-between;
    width: 90px;
    margin-left: 15px;
}

#logo{
    width: 100px;
    margin-left: 15px;
}

#nameDev{
    color: white;
    font-size: 22px;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    margin-left: 30px;
}

#sousTitre{
    color: white;
    font-size: 11px;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    margin-left: 20px;
    margin-top: -10px;
}

#home{
    width: 50px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#home:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#portfolio{
    width: 50px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#portfolio:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#aboutMe{
    width: 50px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#aboutMe:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#git{
    width: 40px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#git:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#linkdin{
    width: 40px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#linkdin:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#title{
    color: white;
    margin-left: 100px;
    margin-top: 200px;
    font-size: 60px;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
}

#littleText{
    color: white;
    margin-left: 100px;
    font-size: 18px;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
}

/*Hoover p*/
#name::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

#name:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#name::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #244e91;
    z-index: -1;
    transition: transform .3s ease;
}

#name{
    position: relative;
    font-size: 5rem;
}

@media (orientation: landscape) {
    body {
        grid-auto-flow: column;
    }
}

.mainPage{
    display: flex;
    flex-direction: column;
}

.bandeauPortfolio{
    display: block;
    width: 100%;
    height: 300px;
    background-color: #252323;
    margin-top: 450px;
}

#titlePortfolio{
    color: #3678DC;
    margin-left: 100px;
    font-size: 60px;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
}

#textPortfolio{
    color: white;
    margin-left: 100px;
    font-size: 18px;
    font-family: "Work Sans", sans-serif;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #212020;
}

.website{
    width: 443px;
    height: 250px;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


.website:hover{
    -webkit-filter: blur(0);
    filter: blur(0);
}

.bandeauContact{
    width: 100%;
    height: 300px;
    background-color: #252323;
}

#titleContact{
    color: #3678DC;
    margin-left: 100px;
    font-size: 60px;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
}

#textContact{
    color: white;
    margin-left: 100px;
    font-size: 18px;
    font-family: "Work Sans", sans-serif;
}

.containeurContact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.contact{
    width: 500px;
    height: 600px;
    margin-top: 100px;
}

.containerMail{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

#mail{
    color: #3678DC;
    width: 50px;
    height: 50px;
    margin-top: 30px;
}

#texteMail{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    margin-left: 20px;
    color: white;
    line-height: 70px;
    text-align: center;
}

.containerPhone{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

#phone{
    width: 50px;
    height: 50px;
    margin-top: 30px;
}

#textePhone{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    margin-left: 20px;
    color: white;
    line-height: 70px;
    text-align: center;
}

.containerEcole{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

#ecole{
    width: 100px;
    height: 50px;
    margin-top: 30px;
}

#texteEcole{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    margin-left: 20px;
    color: white;
    line-height: 70px;
    text-align: center;
}

#map{
    width: 60%;
    min-width: 600px;
}
